# Database Connection URL for PostgreSQL
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/campuslink?schema=public"

# JWT Authentication Secrets
JWT_SECRET="campuslink_jwt_access_secret_key_2026_super_secure_key"
REFRESH_TOKEN_SECRET="campuslink_jwt_refresh_secret_key_2026_super_secure_key"

# Application Config
FRONTEND_URL="http://localhost:5173"
NODE_ENV="development"
PORT=5000
